<div class="container">
    <canvas id="chart-bar"></canvas>
    <h2 [ngStyle]="CssL" id="textL">Change Line Color</h2>
    <input type="color" (input)="ChangeLineColor($event)" id="inputL2"><br>
    <h2 [ngStyle]="CssF" id="textF">Change Fill Color</h2>
    <input type="color" (input)="ChangeFillColor($event)" id="inputF2"><br>
    <select name="chartType" id="chartType2" (click)="updateChartType()">
        <option value="line">Line</option>
        <option value="bar">Bar</option>
        <option value="fill">Fill</option>
    </select>
    <p>{{ data_bar }}</p>
</div>